<!--TODO: Define click callback to load about me information-->
<!-- <button class="btn btn-light" (click)="aboutMe()">Load info about me</button> -->
<button id="loadAboutMe" class="btn btn-dark" (click)="aboutMe()">Load Info About Me</button>
<!--TODO: replace ??? to bind to name-->
<h3>Logged in user: {{name}}</h3>
<!--TODO: bind img src's to profile_pic-->
<img [src]="profile_pic">
<p>
	<!--TODO: bind link's href to profile_link-->
	<a id="openSpotify" class="btn btn-dark" target="_blank" (click)="goToLink()">Open Profile on Spotify</a>	
</p>