/* You can add global styles to this file, and also import other style files */

body {
	background-color: #375c4e;
	color: white;
	font-family: 'Lato', sans-serif;
	text-shadow: 2px 1px black;
}

h1 {
	font-weight: 900;
}

h2, h3 {
	font-weight: 700;
}

button, .btn {
	margin: 10px;
}

a {
	color: var(--bs-orange);
}